[2020-01-25 10:38] SergeShkurko opened #1 "Bug with portrait images and landscape aspect ratio"
![image](https://user-images.githubusercontent.com/18213789/73119743-7718e600-3f77-11ea-920a-8583788f24c5.png)
It seems to me that it would be necessary to enlarge the image so that it does not go beyond

[2020-01-25 10:41] xclud commented on #1
Did you update the 'aspectRatio' property of the Crop widget?

Can you please paste some code here?

[2020-01-25 10:45] SergeShkurko commented on #1
@xclud i run example from repository and replace landscape image by portrait image https://github.com/xclud/flutter_crop/blob/master/example/lib/main.dart#L69

![sample_vertical](https://user-images.githubusercontent.com/18213789/73119863-c01d6a00-3f78-11ea-96a4-72af0ce0bef7.jpg)

[2020-01-25 10:46] xclud commented on #1
I will investigate the issue and will fix. Thanks for reporting.

[2020-01-25 10:47] SergeShkurko commented on #1
Thanks

[2020-02-05 18:25] tapeo commented on #1
Same problem! Hope for a fix soon! If you need help tell me :)

[2020-02-05 18:32] xclud commented on #1
@tapeo i am aware of this issue. Hopefully i will fix it this weekend. Feel free to contribute!

[2020-02-07 06:45] idootop opened #2 "The cropped image's quality needs to be improved."
![Snipaste_2020-02-07_14-38-37](https://user-images.githubusercontent.com/35302658/74006971-27dfa600-49b8-11ea-8df9-d51b73fac537.png)
recommend to add a pixelRatio api to adjust the cropped image's quality.

[2020-02-07 07:19] xclud commented on #2
Yes, I recently noticed about the quality degrade.

But `window` is a web-only API. Isn't it?

[2020-02-07 07:45] xclud commented on #2
This is fixed by passing `pixelRatio` to crop function.

See https://github.com/xclud/flutter_crop/commit/39b3d9dbb572d64fc93b46520240b454b1f54c81

[2020-02-07 07:46] xclud commented on #2
I am closing this issue. Please feel free to reopen or open a new issue.

[2020-02-07 07:46] #2 closed

[2020-02-14 04:49] idootop commented on #2
Cool. Thanks!

[2020-03-03 13:03] pkitatta opened #5 "Aspect ratio from within the image boundaries."
Hi, great little plugin. I am trying to use it to help users of an app upload their avatar. The avatar has to be square in shape. Is it possible to ensure that the user can't pinch the image below the square aspect ratio just like in the photo below - borrowing @SergeShkurko photo.

![2020-03-03_15h52_34](https://user-images.githubusercontent.com/17586059/75777837-c4068e00-5d67-11ea-9bd9-b2f58d84a

[2020-03-03 13:09] xclud commented on #5
Hi @pkitatta do you mean if the crop area is out of image and it's empty/blank? This should not happen already. If you have this problem probably you've found a big. Could you share more details?

PS: currently there is a bug if the crop aspectratio does not match with the image aspectratio, which i am aware of and working on a fix.

[2020-03-03 13:31] pkitatta commented on #5
Maybe it's this. My challenge is the extra space that is not an image again using @SergeShkurko's photo for convenience (but imagine it's a 1:1 ratio):

![2020-03-03_16h21_09](https://user-images.githubusercontent.com/17586059/75780100-d97db700-5d6b-11ea-994f-25bbf7dee1a3.png)

The default position of the cropper should always remain in the confines of the image boundary.

If it's a similar issue

[2020-03-03 13:34] xclud commented on #5
Yes it is the same issue. I appreciate your wait. Meanwhile can you please test if the problem exists if the widget aspect ratio is the same is the image aspect ratio?

[2020-03-03 13:34] pkitatta commented on #5
OK. Will let you know.

[2020-03-03 13:53] pkitatta commented on #5
OK so a square image does work well in the 1:1 aspect ratio I have defined.

[2020-03-03 15:13] xclud commented on #5
Thank you for the feedback. Please keep using the package without worrying about this bug. A fix will arrive soon. And please dont hesitate posting issues or contributing.

[2020-03-03 15:13] #5 closed

[2020-03-29 18:58] xclud commented on #1
This bug is fixed now. please update to v0.2.1 to get the latest bits.

I am closing this issue but please feel free to open new issues.

[2020-03-29 18:58] #1 closed

[2020-03-29 19:04] xclud commented on #5
@pkitatta this bug is now fixed in v0.2.1.

[2020-03-30 23:51] micdoug opened #6 "Rotation by 180 degrees does not work"
I have been playing with the library and I found an issue when trying to rotate images by 180 degrees or higher. It seems that the library is not handling it correctly. When I try to rotate by 180, the image is placed with 0 rotation (the original position).  I tried to debug the code, but I don't have enough knowledge of image manipulation algorithms.

Thanks!

[2020-03-30 23:58] xclud commented on #6
@micdoug thanks for reporting. I will investigate the issue let you know.

[2020-03-31 12:47] lewooz opened #7 "Can not change crop size"
Hi, first of all thanks for all the effort you put in to create such a great library that makes cropping image in flutter web possible. In our project we want to use this library but we need to change the size of the cropper and the cropper shouldn't extend image's size (to avoid getting blank area in the cropped image).

We want pretty much the same thing as you can see in this link: https://alyl

[2020-03-31 12:56] xclud commented on #7
Hi @lewooz,

Do you mean the aspect ratio? If yes, this feature already exist in the package (I need to update the demo app in Google Play Store, but /example folder should be enough to get started for you).

This is the out-of-the-box behavior of my package.

[2020-03-31 13:21] lewooz commented on #7
Thanks for the response. After playing a bit more with it, I managed to solve the issue with using aspect ratio and setting height and width to the container wrapping the crop widget.

[2020-03-31 13:22] xclud commented on #7
This is great. I am closing this issue but please feel free to open a new one anytime.

[2020-03-31 13:22] #7 closed

[2020-04-01 07:02] lewooz opened #8 "PersistedOffset: is in an unexpected state error"
Hi again,

I am always getting the error below when I try to crop an image :

The following PersistedSurfaceException was thrown during a scheduler callback:

PersistedOffset: is in an unexpected state.

Expected one of: PersistedSurfaceState.active, PersistedSurfaceState.released

But was: PersistedSurfaceState.created

I have made some research on the internet but couldn't find a way to solve th

[2020-04-01 10:00] xclud commented on #8
Hi,
Which platform are you building? If Web, its a bug in flutter engine which i am aware of.

Flutter for web is not ready for production builds yet and i am patient about reporting the bug. I hope this package will eventually work on web once flutter for web is officially released.

[2020-04-01 11:04] lewooz commented on #8
Yes, I am building for web. Then we have no other option but to wait for an update to solve this issue in flutter engine I guess.

Thanks for the information.

[2020-04-01 11:38] xclud commented on #8
Meanwhile you may test your project on an android device or an emulator.

I am closing this issue as we have to wait.

[2020-04-01 11:38] #8 closed

[2020-04-09 11:32] xclud commented on #6
@micdoug this problem is now fixed in v0.3.1.

I am closing this issue as it's solved now. Please open a new issue anytime.

[2020-04-09 11:32] #6 closed

[2020-04-10 13:53] Pomb opened #9 "Silence Print Statements"
`line 290 in ui.dart` prints the rotation value, would be good to remove this, or put it under a log flag.

[2020-04-10 16:42] xclud commented on #9
@Pomb thank you for the feedback, I did as you said. update to v0.3.1+1 to get the latest bits.

I am closing this issue for now. Please give feedback by opening a new issue any time.

[2020-04-10 16:42] #9 closed

[2020-04-12 13:15] clirimfurriku opened #10 "How to save cropped image as file?"
Is there a way to save the cropped image as file on local storage for later use?

[2020-04-12 14:17] xclud commented on #10
I just updated the example project with saved to gallery functionality. Please check it out.

Don't forget to update `AndroidManifest.xml` file (there are 3 of them for `debug`, `profile` and `main`) and make sure write to storage is given:

`<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>`

Please let me know if your problem is solved.

[2020-04-13 08:54] stalko opened #11 "Cropping and zooming doesn't work on Web"
1. The image looks darkened then it has;
2. Can't zoom image(trying with the mouse wheel);
3. Got the error: "Unsupported operation: toImage is not supported on the Web" after pressing "Crop" button.

Tested on: Chrome(Version 80.0.3987.163 (Official Build) (64-bit)), Mozilla Firefox(75.0 (64-bit))
deps:
[code]

Source code:
[code]

[2020-04-13 09:09] xclud commented on #11
@stalko Flutter for web is not ready for production yet. There are several bugs in flutter itself that prevents this package from working.

As for the darkened area, here you can get more details about the bug:
https://github.com/flutter/flutter/issues/49534

I hope it will eventually work in the production version of flutter for web.

[2020-04-13 14:49] clirimfurriku commented on #10
Yes, it works. Thank you :)

[2020-04-13 14:49] #10 closed

[2020-04-15 11:33] Pomb opened #12 "Remove print statement when panning image around"
Using the cropper it's flooding the terminal window with print statements.

[2020-04-15 17:46] xclud commented on #12
Hi @Pomb, this is already fixed in #9. Did you update to version `0.3.1+1`?

In `pubspec.yaml` if you are referencing the package using `crop: any` you must run `flutter pub upgrade` **in your project directory** to update the package reference.

Please tell me if this fixes the problem.

[2020-05-01 10:39] mscherer82 opened #13 "Image is cut"
I've expected this plugin to work like the cropping function on e.g. instagram or other photo apps.

Let me give you an example:
The app expects a certain format for phots, let's say a ascpect ration of 16:9. Now the user selects a portrait photo from his gallery. The cropping tool now allow you to select a part of the image which has to fit in the 16:9 frame.

When trying the crop demo I got anot

[2020-05-01 10:52] xclud commented on #13
Hi @mscherer82, can you please attach some screenshots and mark the areas you found the bug?

[2020-05-01 10:59] mscherer82 commented on #13
![grafik](https://user-images.githubusercontent.com/1001285/80800882-f9362d80-8baa-11ea-8604-a845b7def68c.png)

![grafik](https://user-images.githubusercontent.com/1001285/80800935-1cf97380-8bab-11ea-97b6-a27969cae9af.png)

On the first screenshot you can see two green bushes on the right side. After changing the aspect ratio this area is cut off.

[2020-05-01 19:31] xclud commented on #13
I am not able to reproduce this bug. Can you attach a video/gif ?
Can you please provide detailed steps to reproduce this?

[2020-05-07 19:47] Kimonnn commented on #13
I got it the same. Maybe you dont consider it as a bug but what he means is that the imagecropper changes the actual image size when selecting the aspect ratio instead of just changing the box size where you can move the image inside as you want. So the image cuts off to fit in the Box and you cannot move the image to select which part of the image should be chosen.

[2020-05-08 05:34] fenchai23 opened #14 "Save Image to temporal directory?"
I know you provided a way to save image to "gallery" and this function returns a strange path?

[code]

this path is pretty weird as I can't reference it.
`file:///storage/emulated/0/H%20Y%20L/1588915650844.png`
If I do `File(imgPath)` The file is invalid, well file can't be loaded or opened, etc.

is there a way to save it into `getTemporaryDirectory()` and give it a fixed named?

[2020-05-08 06:04] seekcx commented on #13
I also encountered this problem, changing BoxFit is a solution, but it will make it impossible to limit the selection boundary.

[2020-05-08 07:45] xclud commented on #13
This is definitely a bug. I am not able to reproduce this bug. Can you share some code or a video ?

[2020-05-08 07:56] xclud commented on #14
@fenchai23 Do you get an error message in console? It could be the problem with permission to access files.

btw, take a look at this gist: https://gist.github.com/zgramming/e4717686aef543fb690fbe481b81cc61

Let me know.

[2020-05-08 08:01] seekcx commented on #13
The example should be reproducible, but you need to choose a larger picture with a high aspect ratio.

[2020-05-08 11:23] Kimonnn commented on #13
You can even see it in your demo app, select an other aspect ratio and the image gets cut to fit the box so you cannot move the image anymore

[2020-05-08 11:35] Kimonnn commented on #13
i made a screen record: https://photos.google.com/share/AF1QipMtjEN2LA1Vq9HqHtJuRUMiYG9Vet1fleJtk_zhx7yv6HYnukVmu0w31O89Id9uwA/photo/AF1QipOi_e2XgpIj3YorzjRvKCByXQjB8sHip_dTZKJC?key=ZXBRUzhfWlUzbFZwd2lqajJWUXFieUE0aHFOYkF3

[2020-05-08 11:39] xclud commented on #13
@Kimonnn thank you. I can see the bug now and will investigate it. I will let you all know when i make fix.

[2020-05-08 11:41] Kimonnn commented on #13
you can also view it here (maybe a bit better): https://photos.google.com/share/AF1QipOraNatJSVkVwFwEeBEldJaksulPL8r66J1S6DSN2gL8z06WFWYjt7MdUSrb2CsWQ/photo/AF1QipNjWwMlSWMaoDD2P2YFhMjejE8lxgTaVt9sMGPw?key=SUVTYjFHeXlWck5nbUY2ZzZrVHlnR2E2VkNMaGx3

when I select 9:16 as an example, you can see that some parts of the image are unreachable then like the Vulcan at the right side, which is hidden then

[2020-05-08 15:18] fenchai23 commented on #14
it's not permission because I already gave my app storage permission, also there are no errors while running the `_saveScreenShot()` method.

the result is `file:///storage/emulated/0/H%20Y%20L/1588950933361.png` and the picture is indeed created but the correct path should be `file:///storage/emulated/0/HYL/1588950933361.png` ? or maybe `/storage/emulated/0/HYL/1588950933361.png` ?

I went into t

[2020-05-08 15:21] xclud commented on #14
Did you try the gist i posted above? If it's not working i will update the example app for you, but it will take a while.

[2020-05-08 15:25] xclud commented on #13
@Kimonnn

This is a great suggestion. Would you create a separate issue for this. So we can receive ideas from other users and track the changes there.

[2020-05-08 15:37] fenchai23 commented on #14
I did try to tinker it a bit and will still be trying...

[code]

But buffer is not String so I'm gonna have to find a way to convert it I think.

[2020-05-08 15:40] fenchai23 commented on #14
yup, the above function worked :)

btw offtopic here, but is there no way to freeform change the cropping size? and we are stuck on using ratios? it seems most cropping packages are limited to ratio size. It seems

[2020-05-08 15:40] #14 closed

[2020-05-08 19:51] Kimonnn opened #15 "Endless zoom => cancel at some point?"
when zooming in there is no zoom limit so you can zoom endlessly which would be nice to cancel :)

Thanks for your work, appreciate it 🥇

[2020-05-11 15:50] aloisdeniel commented on #13
I'm facing the same issue : he child widget is cropped to its initial size instead of overflowing.

[2020-05-11 16:06] xclud commented on #15
Thank you for your suggestion. We will track the progress here.

[2020-05-11 16:07] xclud commented on #13
@aloisdeniel Did you put an `Image` or another widget as a child?

[2020-05-11 16:22] aloisdeniel commented on #13
It is a `CachedNetworkImage` behind the scene.

[2020-05-11 16:29] aloisdeniel commented on #13
But if I use a fulfilled container with fixed dimensions, it behaves the same way.

![](https://i.imgur.com/xjf754B.gif)

[2020-05-21 01:16] mlemos opened #16 "How to specify the dimensions of the area of the cropped image?"
Is it possible to make the cropped area of a specific width and height?

[2020-05-21 01:17] mlemos opened #17 "Padding parameter not working."
It seems to me that the padding parameter of the Crop class has no effect.
What was the expected effect of this padding?

[2020-05-26 08:55] xclud commented on #17
Previously i added padding parameter but after some internal changes of the package, it broke the functionality of padding. Though i didn't remove the parameter to avoid changes in the public interface of the class and break users code.

The padding is currently on the works and it will eventually get to function.

[2020-05-26 08:57] xclud commented on #12
I am closing this issue as you didn't response and i assume this is fixed by now.

[2020-05-26 08:57] #12 closed

[2020-05-26 08:59] xclud commented on #16
@mlemos It works by setting aspect ratio which is width/height. Once you crop with desired ratio, you can resize the image using (e.g. using another package) to desired dimentions. Does this work for you?

[2020-05-26 09:14] Pomb commented on #12
Appologies, @xclud. Yes thank you it's fixed.

[2020-05-26 09:21] Pomb opened #18 "Circle crop preview"
Would be really nice to specify the preview shape of the clipper that controls the dim background.
Something like: `clipper: Clippers.Oval` or `clipper: Clippers.Box`
I've been adding a second widget as an overlay and setting the dim color to transparent as a work around.

[2020-05-26 09:23] xclud commented on #18
This is a great suggestion. We will track the idea here :)

[2020-05-27 12:50] mlemos commented on #16
Hi @xclud , thanks for the explanation.

I got the aspect ratio, but it is not what I need. My goal was to have some padding around the area that will be cropped. But it is impossible since it will be occupying the full width or height depending on the aspect ratio.

[2020-05-28 16:23] QuentinSc commented on #18
When it's done I switch on your package ! awesome work

[2020-06-03 13:56] firatcetiner commented on #11
Then you should not state that "This package is entirely written in Dart and supports Android, iOS, Web and Desktop." as written in the package descrption since it only work with the iOS and Android.

Good package though.

[2020-06-09 10:18] xclud commented on #16
@mlemos Can't you just zoom in ?

[2020-06-09 10:22] xclud commented on #11
@firatcetiner This package is designed to work on all platforms. This means i didn't use any platform specific/native code. So technically talking, this package works on the web. Package authors are responsible for their own code not other packages or flutter bugs. I hope this clarifies.

[2020-06-09 10:23] xclud commented on #18
@QuentinSc thank you for the feedback. This helps me prioritize the features.

[2020-06-17 14:28] xclud commented on #11
Fixing the clip behaviors in flutter team's todonow. Check out https://github.com/flutter/flutter/projects/156

I hope this bug will soon be fixed. Also check out the following issues:

https://github.com/flutter/flutter/issues/59392
https://github.com/flutter/flutter/issues/58397

[2020-06-17 14:34] xclud commented on #13
Thank you everyone for reporting and helping the this issue. This is now fixed in version 0.3.2.

Can you guys verify if the package behaves as expected?

[2020-06-18 21:34] xclud commented on #11
Hi again everyone, I just run `Crop` on Windows 10. Attached is the screenshot.

![Crop on Windows 10](https://user-images.githubusercontent.com/12394889/85073969-021da580-b1d1-11ea-9359-e9926759e4e7.png)

[2020-06-19 01:14] stonega commented on #13
I tried 0.3.2, looks like the issue is still there, after changed the aspect ratio, the pic was croped.
[code]

[2020-06-19 06:02] lewooz commented on #11
Still getting the same error for web. I hope this gets fixed soon.

[2020-06-19 13:39] xclud commented on #13
@stonega can you share a screenshot please?

[2020-06-19 14:23] stonega commented on #13
https://photos.app.goo.gl/MHQLXzCUGNWP4FaZA

Thanks!

[2020-06-19 15:13] xclud commented on #13
@stonega Sorry but i don't see anything wrong with your screen record. Can you give more details about the problem ?

[2020-06-19 15:16] stonega commented on #13
@xclud I mean when I change the ratio, the pic was cut off, so I can't choose some part of the pic, only can zoom out.

[2020-06-19 15:19] xclud commented on #13
@stonega This is the expected behavior. You may not crop a horizontal image with a vertical ratio unless you zoom in deep enough to cover the whole canvas. Thank you for your feedback :)

[2020-06-19 15:24] stonega commented on #13
@xclud Thanks for your patience, what I really need in my app is to crop the square ratio of the image user picked just like Instagram, is it possible to use the plugin?

[2020-06-19 15:26] xclud commented on #13
@stonega just put the ratio to 1 and do not allow the users change the ratio. This should work fine.

[2020-06-19 15:30] stonega commented on #13
@xclud if I set the ratio to 1, then the pic just become squre, and can not be moved, so left or right part of the img can not be choosed, I must missed something.

[2020-06-19 15:33] xclud commented on #13
If the image is square, then it fully fits the canvas as the canvas ratio is set 1 as well. There will be no room to move the pic left/right. This makes sense. But if the user wants to crop a part of the pic, they have to zoom in. I think in your case you should zoom in the canvas (pinch the screen). Do this work for you?

[2020-06-19 15:49] stonega commented on #13
@xclud https://photos.app.goo.gl/oRZNn2LbHcRnXZf9A
The image I picked is not square, if zoom in , still only square part.
Do I need some extra setting maybe?

[2020-06-19 15:53] xclud commented on #13
@stonega I am not getting your point and i am confused now. If you set the ratio to 1, this means you want a square part of the image.

[2020-06-19 15:57] stonega commented on #13
@xclud yes, and I want to choose left part square or right part square, but what happened is that square is fixed part, can't be changed.

[2020-06-19 15:58] xclud commented on #13
@stonega Then this means your picture is square as well. Can you attach the pic you are dealing with? Only if it's not private or personal.

[2020-06-19 16:02] stonega commented on #13
https://photos.app.goo.gl/K5izKVtqBocvdQpW9
Here is the image.

[2020-06-19 16:05] xclud commented on #13
Thank you. The image is not square so you must be able to drag let and right. I will check this out and let you know ASAP.

[2020-06-19 16:12] stonega commented on #13
I tried wrap the image in the align widget, then it worked just as I thought somehow, but this must not the best solution.
Looking forward to your reply.
Thanks again!
[code]

[2020-06-26 10:05] xclud commented on #18
@songfei Thank you for the PR #20. This is a great addition to the package.

[2020-06-26 11:07] xclud commented on #18
This issue is fixed now thanks to @songfei. Closing.

[2020-06-26 11:07] #18 closed

[2020-06-26 11:08] xclud commented on #18
Fixed in version 0.4.0.

[2020-06-26 11:10] xclud commented on #13
I am closing this issue as it's fixed now.

[2020-06-26 11:10] #13 closed

[2020-06-26 11:11] xclud commented on #16
I close this issue as it is inactive for a while now. Please feel free to open a new issue any time.

[2020-06-26 11:11] #16 closed

[2020-06-30 23:24] ekleel opened #21 "Unexpected behavior when cropping"
First thank you for this simple and great package, we've been looking for a package that's easy to customize and supports desktop and web.

While I was implementing the crop functionality I noticed a strange behavior and I don't think it was designed to be used in this way. I't not easy to explain so I've posted a video to show the problem. In short, the crop area does not include the parts of the

[2020-06-30 23:32] ekleel commented on #21
Apparently this is caused by `fit: BoxFit.cover`. Is there a workaround to allow moving the full image inside the crop area?
[code]

[2020-07-06 13:31] pladombrowski opened #22 "Unsupported operation: toImage is not supported on the Web"
When using flutter_crop in flutter web i get this exception:

    errors.dart:165 Uncaught (in promise) Error: Unsupported operation: toImage is not supported on the Web
    at Object.throw_ [as throw] (errors.dart:214)
    at _engine.SurfaceScene.new.toImage (scene.dart:20)
    at layer$.OffsetLayer.new.toImage (layer.dart:1246)
    at toImage.next (<anonymous>)
    at runBody (async_patch.dart:8

[2020-07-06 13:34] #22 closed

[2020-07-06 20:07] xclud commented on #21
@ekleel fit: BoxFit.cover is to make sure the image inside the area is not smaller or bigger than the area so it never leaves empty space or exceed the screen.

Did you resolve the problem now or you still need help ?

[2020-07-06 20:08] xclud commented on #22
Hi @pladombrowski

This is a dup of #11.

[2020-07-14 18:00] #21 closed

[2020-07-16 11:35] haidarcorp opened #23 "Image is immediately cropped to aspect ratio"
Whenever I get the image and place it as the child of Crop, it is immediately cropped to the aspect ratio passed to the controller. How do i get the initial image to maintain its original aspect ratio while still cropping it to another aspect ratio in the crop view?

[2020-07-16 11:46] haidarcorp commented on #23
I saw some of the closed requests and removing fit: BoxFit.fitWidth fixes this. The problem, as someone else mentioned, is that instead of auto centering and fitting the width, it will just have chunks of transparency on the sides to fit the aspect ratio. Hopefully you can get around to fixing this because that's definitely the only thing preventing me from using this.

[2020-07-16 18:26] xclud commented on #23
@haidarcorp I didn't understand the problem. Can you attach a picture/video and write the steps to reproduce the problem ?

[2020-07-17 15:47] deakjahn commented on #11
@xclud My PR https://github.com/flutter/engine/pull/19655 is already there. Hopefully it will be accepted soon. :-)

[2020-07-17 18:13] xclud commented on #11
@deakjahn Thank you for your efforts. I really appreciate it. This is the best news for my package.

[2020-07-17 18:50] rich-j opened #24 "Support "fit to min" in addition to "fit to max"."
This widget is awesome!  We would like a configuration option to limit scaling to fit the min dimension. The current behavior limits scaling to the max dimension.

When cropping circular (square) avatars from rectangular source images, we would like to limit the scaling fit to the min dimension such that no parts of the resulting image are blank. The current behavior limits the scaling fit to the

[2020-07-17 18:57] xclud commented on #24
@rich-j Thank you.

If you see blank areas in the result image you've found a bug! Can you share some code and the steps to reproduce the bug?

[2020-07-17 19:20] deakjahn commented on #11
I needed it so badly in my app that I couldn't find any other way but to fix it. :-) Similarly to your package, but probably even at a higher level, I need picture manipulation, both simple canvas and even seriously more than that.

I'm adding your crop widget to my app right now, literally. I look forward to it. :-)

[2020-07-17 20:21] rich-j commented on #24
I don't think it's a bug, `crop` just defaults to "fit max".

We use a square aspect ratio with the oval crop shape as such:

[code]

When we give it a rectangular image such as this iOS sample image it defaults the scaling to fit the max dimension (horizontal in this example) resulting in "blank" areas on the top and bottom.

<img width="223" alt="Screen Shot 2020-07-17 at 2 51 20 PM" src="https:

[2020-07-17 20:26] xclud commented on #24
Did you try `fit: BoxFit.cover` on `selectedImage`?

[2020-07-17 20:46] xclud commented on #11
@deakjahn I am curious about your project. Can you share a link? If it's not open source executables are enough.

I am already in love with https://itsallwidgets.com/postmuse-for-instagram by @andreidiaconu but it seems it's not open source.

[2020-07-17 21:00] xclud commented on #24
btw, you do not need `AspectRatio` as the parent widget. I don't know how it affects the behavior of the widget. You should set `cropController.aspectRatio`.

[2020-07-17 21:13] deakjahn commented on #11
Sorry, this isn't possible right now. :-) When finished, it will be available in Play Store, App Store, Web, whatever, but right now, it's still in development and we're doing it for a company, not as a standalone developer. :-) But the main point is that we allow the user to create stuff using, among other items, their own images and we also allow them to modify those pictures in many ways, the u

[2020-07-17 21:22] rich-j commented on #24
We need the `AspectRatio` widget to constrain the layout in the dialog. We also have the controller `aspectRatio` set to 1.0.

[code]

[2020-07-17 21:23] rich-j commented on #24
The `fit: BoxFit.cover` provides the desired outcome but not the desired functionality. Functionally we would like the `crop` widget to be able to "pan" to the "overhang". The `BoxFit.cover` option crops the overhang. Yes, one can specify the `alignment` option to something other than the default `center` but the `crop` widget no longer has access to the overhang.

[2020-07-17 21:30] xclud commented on #24
I didnt understand the functionality you desire. Can you point to a library/demo/video with this functionality. Anything written in Java or Swift or for Windows would help a lot.

[2020-07-17 21:37] xclud commented on #11
Can't wait to play with your widget once it's published.

Pinch scale already works, i have plans forv2 fingervrotation with no ETA.

And yes! Please do not hesitate to share any additional details, but please open a new issue for that as it might go off-topic as of this issue.

And please contribute!

[2020-07-17 21:55] deakjahn commented on #11
Will do with that simple box decoration right now, then we'll se what's next.

[2020-07-17 21:56] deakjahn opened #25 "Another box decoration, just an idea"
Not a PR, I just copy it there, it's simple:

[code]

[2020-07-19 03:30] K-Y-Johnson commented on #24
Hello! I'm a UX designer working with rich-j. I hope that by providing imagery our desired functionality will be more clear.

Let me define the images/colors I'm using.

Yellow is a standard rectangular image taken by a camera.
![Image](https://user-images.githubusercontent.com/68486551/87865673-d4e22580-c93d-11ea-82a4-471868116f9f.jpg)

Blue is the widget, a square.
![Cropping Square](https://use

[2020-07-19 11:06] xclud commented on #24
@rich-j Thank you for describing the problem and the images help a lot. The last 2 images are similar. I am not getting what's wrong and what should be fixed/added as an option. This package works as you described unless you've found a bug. Can you shine more light on this?

[2020-07-19 21:40] K-Y-Johnson commented on #24
Essentially, with the widget as is, it's possible for an avatar image to be generated with black bars in the avatar (here represented by blue).
![Current Functionality](https://user-images.githubusercontent.com/68486551/87885414-6eabe000-c9db-11ea-935a-491f5a7b8005.jpg)

This is not a bug - your program works great as intended. However, we would appreciate an added option that prevents users from

[2020-07-19 23:46] rich-j commented on #24
Another way to consider this enhancement request is to constrain the minimum `scale` value. Since we're targeting a square cropped result the minimum scale is the aspect ratio for landscape, the reciprocal for portrait. We have added similar code to our initialization:

[code]

This starts with the image filling the crop viewport and the user can adjust the image by panning into the offscreen over

[2020-07-20 09:44] xclud commented on #24
No it doesn't create black bars and referring to your attached image, the blue color never appears.

Yes. This is how the package currently works.

Unfortunately i did not understand the problem yet. But i will keep working with you until it's fixed :) Please check your inbox.

[2020-07-21 23:21] K-Y-Johnson commented on #24
When the image first loads, there's no issue.
<img src="https://user-images.githubusercontent.com/68486551/88114730-2d056b80-cb7a-11ea-8a19-dce934eefd95.jpg" width="400">

However, when you zoom out or pan to one side, there are black bars filling out the image's shortest sides.
<img src="https://user-images.githubusercontent.com/68486551/88116063-5673c680-cb7d-11ea-9247-e00872781cd5.jpg" width="4

[2020-07-22 03:23] K-Y-Johnson commented on #24
To put things in another context, we took a look at your demo app, FlutterCrop.

This is your original image.

<img src="https://user-images.githubusercontent.com/68486551/88129977-03ab0680-cb9f-11ea-9a6d-eaba4a53902e.PNG" width="300">

When changing the aspect ratio to 1:1, however, using `fit: BoxFit.cover` crops out all of the picture that doesn't fit within the 1:1 confines. That loses data th

[2020-07-22 13:28] xclud commented on #24
@K-Y-Johnson these black areas doesn't happen on my phone. I have attached a video (in the zip file). It shows the behavior of the package. Are you sure you are using the latest commit and have not modified the source code?

[screen.zip](https://github.com/xclud/flutter_crop/files/4960215/screen.zip)

[2020-07-23 00:53] K-Y-Johnson opened #27 "Pre-Cropping"
We are using your widget to create square avatars. When we do so, it pre-crops the original image.

Here is an image.

<img src="https://user-images.githubusercontent.com/68486551/88242732-bb99eb80-cc53-11ea-98e4-35ccd60edefa.jpg" width="500">

Given this original image, we placed it inside your example app, changing only line 106 to reference this image (also adding it as an asset in the pubspec.

[2020-07-23 01:06] rich-j commented on #24
@K-Y-Johnson has added issue #27 which focuses on the "pre-crop" issue. Let's close this issue since it descended into one possible approach of not using `fit: BoxFit.cover`.

@xclud - please know that we think this is a really good widget and we appreciate your patience with us.

[2020-07-23 01:06] #24 closed

[2020-07-23 07:59] xclud commented on #27
Crop defaults to center of the image when the aspect ratios are not equal. You'll never know where in the image your users want to select and crop. What if the user wants to crop the horse. Or even the flower? How do you know? You may not predict what user wants.

[2020-07-23 08:03] xclud commented on #27
It's not your task to select the human face. Users should do it.

[2020-07-24 00:41] K-Y-Johnson commented on #27
I agree. Users should be able to select whatever they want for their avatar, and it's not the programmer's job to select the human face.

The issue is that due to `fit: BoxFit.cover`, the image is pre-cropped, and the user is literally unable to select anything that isn't shown in the image below. The human figure isn't able to be shown, as the data isn't there since it was cropped out.

<img src

[2020-07-24 15:30] xclud commented on #27
Can't you pan the image?

Where did the last screenshot come from? I mean the one with black bars.

[2020-07-24 22:06] K-Y-Johnson commented on #27
No, we are unable to pan the image. That data has been cropped off.

The last screenshot came from me zooming out with two fingers and holding the image while I took a screenshot. After I released the image, it snapped back to look like the second image in my first post.

[2020-07-24 22:40] K-Y-Johnson commented on #27
We have run this situation on iOS simulator, Android emulator and iPhone Xs, and the results are the same.

[2020-07-30 10:14] michaldev opened #28 "Unsupported operation: toImage is not supported on the Web"
Hi. When I try cut the image, I see this error:
`Unsupported operation: toImage is not supported on the Web`

This is from:
`final cropped = await controller.crop(pixelRatio: pixelRatio);`

[2020-07-30 12:38] xclud commented on #28
@michaldev this is dup of #11

I am closing this issue. Feel free to continue discussing this on #11.

[2020-07-30 12:38] #28 closed

[2020-07-30 14:05] michaldev commented on #11
Hi. When I try cut the image, I see this error:
`Unsupported operation: toImage is not supported on the Web`

This is from:
`final cropped = await controller.crop(pixelRatio: pixelRatio);`

[2020-07-30 14:08] xclud commented on #11
@michaldev This is already discussed above. TL;DR its a bug/wip in flutter for web.

[2020-07-30 14:09] michaldev commented on #11
Okay, I thought the discussion was about zooming issues.

[2020-07-30 14:10] xclud commented on #11
@michaldev 👍 :)

[2020-08-04 21:04] vejmelkam commented on #27
I see the same problem, using `BoxFit.contain` instead of `BoxFit.cover` seems to solve the problem. The Image is shown with "missing parts" if the Controller aspect ratio is different from image aspect ratio. However users can then achieve cropping of any part. Hope this helps @K-Y-Johnson

[2020-08-07 21:20] K-Y-Johnson commented on #27
Thank you for your help, @vejmelkam.

We did discuss this possible solution in #24, however it then results in showing the user "missing parts" or black bars, which the user is then able to crop into their image. Allowing the user to do this is not part of our desired functionality, though it is a possible workaround.

[2020-08-08 19:58] Supportcomm-app commented on #11
Exist a solution for this problem? Crop WEB

[2020-08-11 11:20] michaldev opened #29 "Total width and height"
Hi. Can I set the total output width and height of my Image?
I would like to get Image (example) in 800x800 size independent from the image inside.
Too if the image inside is smaller than 800x800.

[2020-08-11 11:33] xclud commented on #29
Hi @michaldev, You can set the aspect ratio to 1 (800 / 800 = 1) and then resize the output image to 800x800. Here is a good package for image resizing: https://pub.dev/packages/image

[2020-08-11 11:38] michaldev commented on #29
No, I can't because If Image is 400x200 (expected 800x800) I would like set where the image in image should be, and user should choose - image resize, movement or resize and movement.

[2020-08-11 11:42] xclud commented on #29
If the input aspect ratio is not equal to the desired output aspect ratio, it's user's job to choose where in the image to be selected.

[2020-08-11 13:03] michaldev commented on #29
Yes, I know. But I would like positioning image in crop-viewport when Image is smaller than target and if I don't want scale it.
Like this:
![2](https://user-images.githubusercontent.com/5132385/89899270-4b431200-dbe2-11ea-9076-37e95c60cb78.png)

[2020-08-11 13:16] xclud commented on #29
Did you try `Image` widget with `fit: BoxFit.cover`?

[2020-08-11 13:32] michaldev commented on #29
Yes. Image always return to center.

[2020-08-11 13:57] xclud commented on #29
How about putting the `Image` into a `FittedBox`?

[2020-08-11 14:10] michaldev commented on #29
I’ve used your example.

[2020-08-11 14:10] xclud commented on #29
Please try `FittedBox` and let me know.

[2020-08-12 08:14] michaldev commented on #29
I've used that, but wihtout effect.

https://vimeo.com/447069518

Code:
[code]

[2020-08-12 12:04] deisold commented on #11
I also need the cropping on web. Apparently the ui.Image class is not (yet) properly implemented on web. Is there a way to extract the cropped image to a Uint8List instead of an image? This would work then with Image.memory().

I came across https://github.com/flutter/flutter/issues/47721 where its commented: "This is unlikely to be addressed in the short term in the HTML backend. Browsers do not

[2020-08-12 12:07] xclud commented on #11
@deisold it seam a PR by @deakjahn is working and i hope it will be merge. Check this out: https://github.com/flutter/engine/pull/19655

[2020-08-12 12:37] deisold commented on #11
@xclud Does this PR apply to the problematic point RenderRepaintBoundary::toImage()? https://github.com/flutter/engine/pull/19655 talks about Image.toByteData and Picture.toImage and was merged into master.

I'm currently on master and cropping (this package) is not working on web.

[2020-08-12 12:40] xclud commented on #11
Oh, my mistake. Then, i don't know the answer to your question. One idea is, on web, also send pan, zoom and rotation values to the server along with original image. Then the server can crop the image. But i don't know if this works for everyone.

[2020-08-12 12:48] deisold commented on #11
No, worries. Thanks for answering! We already had the idea to shift the cropping to the server. I hope I can extract all necessary information from the controller.

[2020-08-12 12:58] deakjahn commented on #11
That PR has actually been closed and a new one opened (see the link at the end) because GitHub handled something wrong, or I don't know what else happened, but I had to reopen a new one. This only handles three of the four possible combinations (with the focus being on CanvasKit rather than DomCanvas) and `RenderPaintBoundary` is not yet among those. The question already popped up and I'm unsure y

[2020-08-15 22:58] ronytesler opened #33 "Not working on web + missing dependecies"
There are some packages that I need to add to .yaml that are not mentioned in the documentation.
One of the is image_gallery_saver that's not supported on web.

I get this error:
Error: Unsupported operation: toImage is not supported on the Web.

[2020-08-16 17:57] xclud commented on #33
Hi @ronytesler
This is dup of #11.

I am closing this issue.

[2020-08-16 17:57] #33 closed

[2020-08-24 08:19] ayush97123 commented on #11
I am facing the same issue while cropping the image. Is there any workaround or fixes yet? I have read the above posts but did not get any clarity on if there's any fix.
Thanks for the help.

[2020-08-24 08:21] xclud commented on #11
@ayush97123 There is no fix yet. One solution is to get scale, rotation and offset and send theme along with your image to the server. Then do server-side cropping.

[2020-08-24 09:44] LHDi commented on #23
I think the same issue is tracked in #27.

[2020-08-24 18:59] xclud commented on #23
@LHDi Thanks for reporting. Still i am not able to reproduce this bug.

[2020-08-25 12:27] LHDi commented on #23
@xclud I am going to walk you through one of the scenarios (The one that I have):
I want the user to be able to change his profile picture, So I have created a dialog Widget for that.
First thing first I want the profile picture to have an aspect ratio of **1:1** (squared).
The dialog that I've created allows the user to select the source of the photo (either The Gallery or The Camera) and then se

[2020-08-30 17:35] xclud commented on #23
@LHDi thank you for description. I'd appreciate if you provide a [not] working code for this. e.g. link to a github repo.

[2020-09-14 09:08] dhianabli commented on #8
this is an issue that I also stumble upon sometimes with flutter web and I think it is related to the rendering engine. Hope that will be fixed soon

[2020-09-14 09:30] anirudh-t4 opened #35 "6,8 edge crop"
I am extensively using this package and i need a 6 or 8 edge cropping instead of the 4.
Kindly help

[2020-09-15 16:07] xclud commented on #35
Hi @anirudh-t4,
Supporting custom paddings is on the roadmap of the package. I hope i will get some free time to implement this.

[2020-09-15 17:33] anirudh-t4 commented on #35
Thanks for your reply.
I'd be very grateful if you can implement the 6,8 edge crop or share some
idea about how can i implement it
Regards
Anirudh

On Tue, 15 Sep 2020, 9:37 pm Mahdi, <notifications@github.com> wrote:

[2020-09-22 05:20] anirudh-t4 commented on #35
Hey sir,
I am in tremendous need of a 6,8 edge cropper for my project.
Can you share some idea of how to implement it in dart or until when can i expect it in your package.

[2020-09-22 19:10] xclud commented on #35
Currently there is no ETA on this feature. I believe you can modify the source code to achieve this. It's not hard. I made the package as simple as possible.

[2020-09-23 06:56] anirudh-t4 commented on #35
Can you give some suggestions as to where i should make these changes?
I just want the 4 edges to become 8

[2020-09-29 17:32] NicolasDionB commented on #8
@xclud Any update on this? I see the issue is closed but there's no link to follow whatsoever.

[2020-09-29 19:40] xclud commented on #8
@NicolasDionB I am tracking the flutter milestones and i will let you know once i get `crop` package working on the web.

[2020-10-02 13:06] DomingoMG commented on #8
I have the same problem.

[2020-10-02 18:15] xclud commented on #8
https://github.com/flutter/flutter/issues/42767

[2020-10-02 18:16] xclud commented on #11
https://github.com/flutter/flutter/issues/42767
This issue will be fixed this October.

[2020-10-10 20:09] diegoflassa opened #36 "Unsupported operation: toImage is not supported on the Web"
I was testing the web version of the app, and when i click "Crop", i get the following error

`` Uncaught (in promise) Error: Unsupported operation: toImage is not supported on the Web
    at Object.throw_ [as throw] (errors.dart:212)
    at _engine.SurfaceScene.new.toImage (scene.dart:20)
    at layer$.OffsetLayer.new.toImage (layer.dart:1208)
    at toImage.next (<anonymous>)
    at runBody (asy

[2020-10-10 20:13] #36 closed

[2020-10-10 20:13] diegoflassa commented on #36
There was already one open for this issue

[2020-10-16 10:32] vemarav commented on #23
<div align="center">
@xclud Using portrait images leads to this problem. user cannot pan image. I have set `3.5/2.3` aspectRatio for controller.
</div>
<br/>

<div align="center">

orginal image | image in crop widget
---|---
<img width="300" src="https://user-images.githubusercontent.com/17309962/96247820-41fe6900-0fc8-11eb-98b1-b09bd627ea4e.png" alt="original image" /> | <img width="300" src="ht

[2020-10-27 10:54] michaldev commented on #11
Any changes?

[2020-10-27 17:48] xclud commented on #11
@michaldev Unfortunately no progress so far.

[2020-11-04 18:24] SwissCheese5 commented on #11
It's November dammit..

[2020-11-09 10:31] W34therwax opened #37 "multiple crop instances on same page"
Hello!

Thanks for such a great package, working great so far.

I have though an issue with implementing multiple crop images on one view. I have three thumbnails, clicking on each display bigger image that can be cropped. I am creating three separate instances CropController and Crop widget, and switching between them.

Issue is, when user adjust picture, zoom it and drag somewhere. This works, b

[2020-11-09 10:44] xclud commented on #37
Hi @W34therwax,
Can you give a working project so i can investigate further? Sending a link to your repository or attaching a zip file is enough.

[2020-11-09 11:26] W34therwax commented on #37
Hey @xclud , I have extracted those parts from my project and put it in your example project. Compressing it took a lot of space, big zip file, so what I did is put here two zips - one is lib directory and another pubspec file. If you replace that in your example project, install dependencies it will work. For first time I run that it did not worked, but after closing and reopening its fine. I can

[2020-11-11 19:31] W34therwax commented on #37
Hey @xclud, any luck with figuring this out? I have tried my best, but no success so far :/. Maybe it would help if I trim that example more from some unnecessary code?

[2020-11-11 21:04] xclud commented on #37
@W34therwax, I didn't get free time to investigate the problem. I will check your code on the weekends and will let you know.

[2020-11-12 17:20] teipeps commented on #11
Any forecast?

[2020-11-12 18:03] Wizzel1 opened #40 "How to achieve the instagram crop functionality?"
Hi, first of all, I wanted to thank you for this awesome package!

I am trying to recreate the cropping from Instagram and I am a bit lost, to be honest.

This is my current screen:
![1](https://user-images.githubusercontent.com/43343510/98976938-44e17080-2518-11eb-9aad-0df8802d5f40.JPG)

Currently, the aspect ratio is set to 9/16 but this obviously isn't what I need.

The screen currently looks l

[2020-11-16 14:40] HeebeLee opened #41 "How to crop the original image."
I refer to the demo code. After loading an image, the image will be automatically cropped to a scale. But I don't want to do this, I want to be able to slide through the original image, zoom in and out, and so on.

Can it be realized? This function is urgently needed.

[2020-11-16 15:03] HeebeLee commented on #41
@xclud Maybe we focus on one location instead of cutting it into a picture.
This is very important to me and I hope it can be provided.

[2020-11-17 12:02] xclud commented on #41
Can you please describe the problem with more details? Possibly with a pic/video showing the problem.

[2020-11-17 12:07] HeebeLee commented on #41
Just like #27 , we all want to do it at the same size.

Should this be initialized when, instead of clipping, the cardinality should be enlarged?

[2020-11-19 09:44] nwparker commented on #27
@xclud , here is a video demonstration of the issue:

[crop_cutting.zip](https://github.com/xclud/flutter_crop/files/5565852/crop_cutting.zip)

In this case, I'd like to crop the image to 16:9, but I want to capture the upper portion of the image. However, after selecting a 16:9 crop aspect ration, I am unable to pan and therefore unable to capture the upper portion of the image.

[2020-11-19 09:45] nwparker commented on #41
@HeebeLee I propose you close this issue and move conversation into #27

I've just posted a video there demonstrating the issue

[2020-11-19 10:01] xclud commented on #41
@HeebeLee @nwparker  I am closing this issue. Please follow the conversation about this issue in #27.

[2020-11-19 10:01] #41 closed

[2020-11-19 10:03] xclud commented on #27
@nwparker Thank you. Now I am able to reproduce the bug. Will let you know when I fix this. Contributions are welcome :)

[2020-11-22 07:32] nwparker commented on #27
I haven't had luck fixing this altogether, but it turns out out switching to `BoxFit.contain` vs `BoxFit.cover` (as mentioned above) does actually change the situation ( https://github.com/nwparker/flutter_crop/commit/ede69395d62ccc68032090d90677c79990b09fd9 )

However, it's not quite right as it allows cropping of areas outside of the image

[2020-11-24 09:28] HeebeLee commented on #27
We can't simply change this parameter. I think we should change the original zoom factor, which should be determined by the size of the image and the target clipping size.

[2020-11-24 19:33] xclud commented on #11
https://github.com/flutter/engine/pull/22085

I will give it a try on the weekends.

[2020-11-24 19:38] xclud commented on #11
If any of you guys have free time to check, switch to master channel and try this command. `FLUTTER_WEB_USE_SKIA` will compile with Skia/CanvasKit.

[code]

[2020-11-24 19:49] rich-j commented on #27
@HeebeLee correct that scaling should be adjusted too. See the comment in related closed issue https://github.com/xclud/flutter_crop/issues/24#issuecomment-660728778
that provides one workaround:

[code]

This is not a complete solution since it doesn't constrain the user's panning/zooming to not enter the "empty" image parts.

[2020-11-24 19:49] xclud commented on #11
Good news: `Crop` now works on web! if you enable CanvasKit. See my comment above.

[2020-11-24 20:24] xclud commented on #11
https://pwa.ir/crop/ for the demo.

[2020-11-24 20:27] xclud commented on #40
Hi @Wizzel1 tahnk you for using crop. I will reach to you soon. Sorry for replying late.

[2020-11-25 17:16] #11 closed

[2020-11-25 17:18] #35 closed

[2020-11-25 17:19] xclud commented on #29
I close this issue for #27. Please feel free to continue this discussion there.

[2020-11-25 17:19] #29 closed

[2020-11-25 17:20] xclud commented on #23
I close this issue for #27. Please feel free to continue this discussion there.

[2020-11-25 17:20] #23 closed

[2020-11-25 20:11] pulstar opened #42 "Crop issues under Flutter web (Android is fine)"
1) How do I zoom in/out in Flutter web?

2) Why do the crop window always return to the image's center after I try to pan it?

3) I compiled the crop demo, but the image inside the crop window is very dark (see below). The online demo is working fine.

![image](https://user-images.githubusercontent.com/1308392/100276009-9ee22d00-2f3f-11eb-9b73-bbd1584494fc.png)

4) The oval shape does not show in

[2020-11-25 20:15] xclud commented on #42
@pulstar you must set `FLUTTER_WEB_USE_SKIA` to `true`. Here is how you compile for web:

`flutter build web --dart-define=FLUTTER_WEB_USE_SKIA=true`

Let me know if this works for you.

[2020-11-25 21:29] pulstar commented on #42
I run the above command but it didn't open any window and ended silently...
So I added the parameter to the run configurations and it worked.
Will it also work when I build the app?

Well, the items 3 and 4 are okay, what about the items 1 and 2?

[2020-11-25 21:34] xclud commented on #42
- For 1: On a touch-screen (mobile) you can use two fingers to zoom in. on desktop i guess it's not possible. It's a good point though. I will implement this functionality. For the moment a zoom slider comes handy.

- For 2: You may not go off-canvas. It has to fill the canvas area with the image.

For 3 and 4: I am happy it worked for you.

[2020-11-25 21:40] pulstar commented on #42
1) A zoom slider will be nice! :-)

2) I made some tests, but it always goes to the center, despite it is on-canvas. On Android it works fine.

[2020-11-25 21:42] xclud commented on #42
Do you get the wrong behavior on my web-demo as well? If yes:

- Would you please attach a video/gif?
- Would you paste the output of `flutter doctor -v` here.

[2020-11-25 21:52] pulstar commented on #42
Since I cannot zoom in, probably it is one pixel or two off-canvas when I pan the image to the right or left.
Your web-demo have also the same behavior. I am using Google Chrome for my tests.

[code]

[2020-11-25 21:54] xclud commented on #42
Usually if you rotate the image (with slider) it will zoom and there will be a little room for panning. Do you get this behavior?

[2020-11-25 22:01] pulstar commented on #42
Yes, I did try that too at various angles, but no success.

[2020-11-25 22:03] xclud commented on #42
Can you please attach a video/gif?

[2020-11-25 22:18] pulstar commented on #42
See it at:  https://youtu.be/Kvz0nYK9e4o

[2020-11-27 13:13] pulstar commented on #42
Before trying your plug-in, I tried another web-compatible package, but it has serious problems and the author does not answer here on Github. As you expressed concern, I will choose your plug-in, which is even better.

[2020-11-27 15:37] xclud commented on #42
Sorry for my late answer. I've watched your video. We are already discussing this problem on #27.

If you think it's better, please closing this issue and track the other one.

And thank you for choosing my package.

[2020-11-27 18:46] pulstar commented on #42
Okay

[2020-11-27 18:46] #42 closed

[2020-11-27 18:53] pulstar opened #43 "Unsupported operation: LayerScene.toImage not implemented"
I implemented the crop widget to an existing application and now it is throwing an error below, at this line:

`return rrb.toImage(pixelRatio: pixelRatio);`

Maybe I am importing a wrong library somewhere. Do you have any idea?
The error occurs when I click the crop button.

[code]

[2020-11-27 23:44] bartonhammond commented on #43
Firstly - thanks for making this package!

I believe I have the same error though the stacktrace is different though it also occurs here:
[code]
flutter doctor
[code]

I am running with this launch.json
[code]
stack:
[code]

[2020-11-27 23:50] bartonhammond commented on #43
Update.

When I build with `flutter build web --dart-define=FLUTTER_WEB_USE_SKIA=true` and run in the production env, the cropping works fine.

[2020-11-28 00:52] bartonhammond commented on #43
Boy do I feel stupid.

I changed the vsCode launch.json configuration and it works fine now.  I hope I didn't confuse this issue
[code]

[2020-11-28 14:27] pulstar commented on #43
I check now and the same error is occurring in the demo app... Here are more log messages:

[code]

[2020-11-28 15:03] xclud commented on #43
@pulstar
It's very important to set `FLUTTER_WEB_USE_SKIA` to `true`. Basically there are two engines in flutter for web: DOM and SKIA.

DOM is the current version, deprecated and [possibly] no longer receiving updates from flutter team.
SKIA is the next generation and the future of flutter, still beta and actively worked on.

For a production build run:

`flutter build web --dart-define=FLUTTER_W

[2020-11-28 15:09] pulstar commented on #43
I am already using the FLUTTER_WEB_USE_SKIA parameter in my settings.
It solved many problems, but not this one. Only your online demo is working fine.

[2020-11-28 15:12] xclud commented on #43
Then i guess it's a problem with your flutter version. It must be version `1.24.0-8.0.pre.359` or newer.

You can get this version by switching to `master` channel and upgrading. in your terminal run:

[code]

[2020-11-28 15:14] pulstar commented on #43
Hmmm... I will try the upgrade!

[code]

[2020-11-28 15:16] xclud commented on #43
Yes you are on dev channel. That's why. `Scene.toImage` is implemented last week in SKIA engine. It's quite new and you have to upgrade to get it.

[2020-11-29 11:01] xclud commented on #43
I assume your problem is solved now. I close this issue. Please feel free to open a new issue.

[2020-11-30 12:20] pulstar commented on #43
Is that feature so brand new?

I changed to the master channel and your demo app is working fine. By the way, it now allow me to pan a little bit.

But my existing application doesn't work in the master channel... I will need to migrate a lot of things... :-(

[2020-11-30 12:27] xclud commented on #43
Exactly, it's quite new.

As far as I know there is no breaking change in master channel. In your pubspec.yaml file make sure you are not on null-safety version.

[code]

If you have SDK version 2.12 you will get a whole lot of null-safety errors. Use SDK 2.11 or lower to stay on the safe side. SDK 2.7.0 I recommend as in above code.

Please let me know if this helps you.

[2020-11-30 12:52] pulstar commented on #43
The environment line above is already configured in my pubspec.yaml
How can I downgrade the SDK to 2.11?

[2020-11-30 13:07] xclud commented on #43
Can you paste you pubspec file here?

[2020-11-30 13:08] xclud commented on #43
Also a screenshot from the errors would help a lot.

[2020-11-30 14:20] pulstar commented on #43
I downgrade with the command flutter downgrade, but it downgraded to SDK 2.10 in the master channel.
This version doesn't have ScaffoldMessenger, the only thing I found different in this version.

With Dark 2.12 all errors are related to Null Safety. I will need to refactor a lot of things to make it work.

[2020-11-30 14:23] xclud commented on #43
You need to upgrade flutter from master channel, indeed the newer the better. You can specify the dart-sdk version in pubspec and you are good to go.

[2020-11-30 14:35] pulstar commented on #43
Will this work?

[code]

[2020-11-30 14:44] xclud commented on #43
I guess so. Run `flutter pub upgrade` and you should be able to run your project.

[2020-11-30 17:52] pulstar commented on #43
No luck changing that parameter... A lot of errors still remain.
This existing application is huge, so I need time to migrate it.

[2020-11-30 17:56] xclud commented on #43
I wish you a good luck migrating. I would help if you got questions.

[2020-11-30 17:59] pulstar commented on #43
I will close this issue now, when I have news I come back here.

[2020-11-30 17:59] #43 closed

[2020-12-01 13:43] W34therwax commented on #37
@xclud hello again! Did you maybe have some time for that? Actually maybe you have some different approach/idea how to attempt cropping more than one image on one view?

[2020-12-01 17:34] xclud commented on #37
Sorry for my late reply. I've attached a working example for you.
[multi_crop.zip](https://github.com/xclud/flutter_crop/files/5624315/multi_crop.zip)

[2020-12-01 23:23] bartonhammond opened #45 "2 things: 1) reposition photo 2) zoom"
Great job!

I'd like to move my image up/down and I'd like to zoom in/out

Thanks for doing this!

[2020-12-04 15:13] bartonhammond opened #46 "w/ "--web-renderer=html" Crop fails: `Unsupported operation: toImage is not supported on the Web`"
I am using ` --dart-define=FLUTTER_WEB_USE_SKIA=true,` on the Master channel and Crop works fine.  But due to another requirement, I have to add the flag `--web-renderer=html`.   With that additional flag, Crop fails.

Would you have any idea of a work around?

Here's my launch.json configuration
[code]

Here's the stack
[code]

Here's doctor:
[code]

[2020-12-04 15:38] xclud commented on #46
@bartonhammond I am not able to find the documentation for `--web-renderer=html`. Could you provide a link to the docs? I guess this flag contradicts canvaskit usage.

[2020-12-04 15:39] xclud commented on #45
Thank you @bartonhammond for your support.

Is there any issue or question i can help? Shall i close the issue?

[2020-12-04 15:49] bartonhammond commented on #45
Is this something you'll do?  I haven't seen how to reposition the image.  My photos always have the top part of the head chopped on.  And I haven't seen a way to zoom.  Are these things supported?  If not, would you consider?

[2020-12-04 15:56] bartonhammond commented on #46
I don't know about any docs  - I found the option here.

https://github.com/flutter/flutter/blob/c92cc25830d3f0daeec8b0d35308c448c635995d/packages/flutter_tools/lib/src/runner/flutter_command.dart#L134

[2020-12-04 16:17] xclud commented on #45
This is a known bug in the package. We are already discussing this in #27.

[2020-12-04 16:18] xclud commented on #46
Line 146 in above code, sets `FLUTTER_WEB_USE_SKIA` to `false`. Why do you need this flag?

[2020-12-04 16:40] bartonhammond commented on #45
Ok - Great

[2020-12-04 16:40] #45 closed

[2020-12-04 16:42] bartonhammond commented on #46
I'm using `easy_web_view` package to show my landing page which is written
in html.  W/o the `web-renderer`, the page can't be scrolled or interacted
with - the links, for example, don't work.  So with this `web-renderer` set
to html, the embedded landing page works correctly but then I can't crop
pictures later.  If there was a way to toggle that switch that would be
great.

On Fri, Dec 4, 2020 a

[2020-12-04 16:56] xclud commented on #46
I will try to find a work around this problem. Meantime, can you provide some code for testing? attaching here or a repo link is good.

[2020-12-04 17:01] bartonhammond commented on #46
Ok.  Also, if you `flutter run --help` includes:
[code]

[2020-12-04 17:56] bartonhammond commented on #46
Here's a repo w/ both `flutter_crop` and `easy_web_view`.  See the README for instructions

Thanks!

[2020-12-04 18:00] bartonhammond commented on #46
See https://github.com/flutter/flutter/issues/64092
See https://docs.google.com/document/d/1aY0iU16wf_sdT7nwfpjgT-IatHNfF3slTiYHKmxcIog/edit

[2020-12-11 09:16] pkitatta commented on #5
Thanks will try again.

[2020-12-14 13:49] michaldev opened #47 "Problem with transition in some cases"
I have problem with transitions when crop section has ratio aspect vertically (like 0.5625) and image is horizontally.

This video shows problem.
https://vimeo.com/490743586

Code:
[code]

[code]

[2020-12-14 18:17] xclud commented on #47
@michaldev This is a dup of #27. I am working on this issue.

[2020-12-16 19:29] alsiPanda commented on #46
I am getting the same error, on flutter web. Here is the error log -

    at Object.throw_ [as throw] (errors.dart:216)
    at _engine.SurfaceScene.new.toImage (scene.dart:20)
    at layer$.OffsetLayer.new.toImage (layer.dart:1206)
    at toImage.next (<anonymous>)
    at runBody (async_patch.dart:84)
    at Object._async [as async] (async_patch.dart:123)
    at layer$.OffsetLayer.new.toImage (lay

[2020-12-29 23:18] simanlx opened #48 "比例与图片比例不同时无法裁剪到边界"
When the scale is different from the image scale, it cannot be cropped to the boundary

[2021-01-13 09:39] godaangel commented on #48
可以试试这个，https://github.com/godaangel/flutter_crop_box

[2021-01-24 21:24] Pitazzo commented on #11
Hey @xclud, are you sure it is working on web? I may have not understand how this plugin works, but wherever I drag the mouse in the demo, the cropped area moves back to its original position.

[2021-01-25 15:34] mohamadhadibi commented on #48
I have the same problem, please fix it, thanks.

[2021-01-28 19:38] JoaquinNievas opened #49 "Dimm color cover all widget (not only the outer part of the image) [web - 1.24.0-10.2.pre]"
The entire image to be cropped is dimmed. I thought it was a problem with my code, but I downloaded your sample project and ran it in Chrome, and the same thing happened. My Flutter version is 1.24.0-10.2.pre Beta

<img width="1201" alt="crop error" src="https://user-images.githubusercontent.com/58852652/106189391-035f7980-6187-11eb-9c5b-90863063e078.png">

[2021-01-29 15:39] mohamadhadibi commented on #47
#50

[2021-02-01 20:21] willladislaw commented on #46
1.  Required to pass the line as a param (as mentioned above). Any updates?

`flutter run --dart-define=FLUTTER_WEB_USE_SKIA=true` .

2. Package appears to only support `Image.asset()`.  Can someone confirm? I'm getting an error for `Image.network()`

Error:

Image provider:
  NetworkImage("https://example.com/f8133f38f44.png",
  scale: 1)
Image key:
  NetworkImage("https://example.com/f8133f38f44

[2021-02-01 21:30] willladislaw opened #51 "Image.network() support?"
I'm getting an error for `Image.network('..')`

The cause of this appears to be  `--web-renderer auto` (flutter run  --web-renderer auto)

Removing the flag and just using `flutter run` resolves above but now gives `Error: Unsupported operation: toImage is not supported on the Web` when "crop" button is clicked from the example.

[code]
Error:

Image provider:
  NetworkImage("https://example.com/f

[2021-02-04 16:00] xclud commented on #51
Hi @willladislaw

Flutter's built-in `Scene` has implemented `toImage` method only on Skia. So it will not work on `DOM`. Setting the renderer to `auto` will cause the renderer to switch between Skia and DOM. That's why.

[2021-02-04 16:02] xclud commented on #46
@alsiPanda

See #51.

[2021-02-04 16:02] #46 closed

[2021-02-14 08:23] xclud commented on #49
Hi. You should compile with Skia enabled:

`flutter build web --dart-define=FLUTTER_WEB_USE_SKIA=true`

The flag `FLUTTER_WEB_USE_SKIA` is important. Please let me know if this solves the problem.

[2021-02-14 08:24] #51 closed

[2021-02-14 08:25] #48 closed

[2021-02-17 09:25] kiaxseventh commented on #49
hi.
tried with   flutter build web --dart-define=FLUTTER_WEB_USE_SKIA=true  flag and it has the same issue

my Flutter version is 1.27.0-2.0.pre.126

[2021-02-18 16:30] xclud commented on #49
@kiaxseventh Can you confirm if this happens on desktop mode as well?

[2021-02-18 16:51] kiaxseventh commented on #49
@xclud
 hello again
 i changed my flutter  sdk to 1.25.0-8.2.pre beta channel with FLUTTER_WEB_USE_SKIA flag build everything is good
i tried it with android (chrome) and ios (safari) and windows(chrome) its ok and dont have any problem

[2021-02-23 16:51] xclud commented on #49
@kiaxseventh Good to hear that. I am closing this issue but feel free to open a new issue any time.

[2021-02-23 21:13] #40 closed

[2021-02-23 21:13] #37 closed

[2021-02-23 21:15] #47 closed

[2021-02-23 21:18] #25 closed

[2021-03-10 16:29] vemarav opened #54 "demo not working as expected on changing aspect ration, crop area(box) stays at centre of the image"

[2021-03-26 10:33] pavooo opened #55 "Cropped image of type 'CkImage' instead of 'Image'"
I am using this package for flutter web. I try to return the cropped image of `cropped = controller.crop(...)` to the previous screen by  `Navigator.pop(context,cropped)`.
Somehow the previous screen receives an image of type 'CkImage' and not of type Image, as I would have expected it.

[2021-03-26 13:10] pavooo commented on #55
As far as I found out the problem seems to come from enabling CanvasKit/Skia, which is necessary for flutter web.
As a result `controller.crop(pixelRatio: pixelRatio)` returns a `CkImage` instead of an `Image`.
Is there some solution or known workaround?

[2021-04-04 11:27] kiaxseventh commented on #49
hello again
i changed my flutter sdk to 2.0.4 stable it have problem again !
on  desktop web dont has any problem
but on mobile chrome it has problme
are you have solution ?

[2021-04-04 11:47] kiaxseventh commented on #49
i tried  again with this command everything  is ok

` flutter build web --web-renderer canvaskit --release
`

[2021-04-04 11:50] xclud commented on #49
@kiaxseventh Are you passing the `FLUTTER_WEB_USE_SKIA` flag?

[2021-04-04 12:05] kiaxseventh commented on #49
no
add full command example please

[2021-04-04 12:14] xclud commented on #49
`flutter build web --dart-define=FLUTTER_WEB_USE_SKIA=true`

[2021-04-05 04:48] kiaxseventh commented on #49
yes i tried it my problem fixed with this command

`flutter build web --web-renderer canvaskit --release
`

[2021-04-05 05:50] xclud commented on #49
Nice to hear that.

[2021-04-05 05:50] #49 closed

[2021-04-06 15:01] larsaars commented on #54
aspect ratio gets completely ignored when calculating recenter

[2021-04-14 03:14] tytruong1608 opened #56 "Auto cropping when user pan the helper widget."

[2021-04-14 03:14] tytruong1608 commented on #56
Currently i'm using this lib for my project, but i have an issue for crop helper. How to unlock crop and auto crop when user gesture on helper widget ?

[2021-04-14 07:06] xclud commented on #56
Hi. Put your helper width in an `IgnorePointer`.

[2021-04-16 23:12] mtical opened #57 "Rotating then zooming out"
I'm trying to crop within a 4x3 aspect ratio.

I have an image starting in landscape mode, I rotate it 90 degrees, it then doesn't let me zoom out even though I have image spillover across every direction (top, bottom, left and right). It seems to be fixed at a certain zoom level.

I pretty much pulled the demo code from the example with some edits (passing a image path over to the stful widget):

[2021-04-16 23:15] mtical commented on #57
It looks like there's some constraints across the background view (behind the aspect ratio box). I can pan left and right just fine but cannot pan up and down even though there is spillover in the up/down direction.

[2021-04-17 06:30] xclud commented on #57
Hi @mtical, This is a known issue. I am trying to resolve it ASAP. Check #27.

[2021-04-17 06:30] #57 closed

[2021-04-17 06:33] xclud commented on #55
Hi @pavooo, `CkImage` is not a public class (and you cannot see it unless in a debugger) and it implements `Image` interface. I believe you can use it just like `Image` without any problem. Is this the case?

[2021-04-19 12:08] iampopal commented on #54
I am facing the same Issue, when size of image is not the same of box, crop always goto center of image

[2021-04-20 22:31] brnostone opened #59 "Cut in the top position"
Apparently there is a bug that does not allow me to select an upper or lower part of the initial cut. I'm using the sample code.
As you can see in the video, I can't cut in the red or green circle, only yellow. Do you have a solution or is it a bug?

[demo.zip](https://github.com/xclud/flutter_crop/files/6346981/demo.zip)

[2021-05-03 08:13] mitesh77 commented on #54
i am also facing same center of image issue

[2021-05-08 21:38] escamoteur opened #60 "I think someone published an almost identical fork of this repo on pub"
Hi,

are you aware of that someone has forked and published your repo here?
https://pub.dev/packages/cropper

[2021-05-08 21:46] escamoteur opened #61 "Please add some more documentation"
Hi,

your Cropping widget looks awesome and exactly what I need. Unfortunately I'm absolutely not clear on how I really have to use it.

* What is the `helper` good for?
* How is the intended workflow with this widget?
* Do I have to handle gestures myself and use the controller accordingly to zoom / pan?
* If I want to cut a smaller area from my image, do I have to zoom in and pan so that the are

[2021-05-09 06:51] xclud commented on #60
This is interesting! Thank you for letting me know @escamoteur.

@alikhaleghi76 do you have any new feature or specific requirement for duplicating this project?

[2021-05-09 06:57] xclud commented on #61
@escamoteur Thank you for the feedback. My intention is to provide a documentation with version `1.0.0`. Meanwhile, is the example project helpful? Do you have any questions?

[2021-05-09 07:06] alikhaleghi76 commented on #60
Hi,
I made a hot fix for an issue like #47 and published it to use on some apps.
The project license is MIT so I think there's no problem to use or publish my version on pub.dev.
Am I right?

[2021-05-09 07:16] xclud commented on #60
@alikhaleghi76 Contributions to this project are always welcome.

You can add your own fork as a flutter dependency, which I suppose is your intention, with the following code in `pubspec.yaml`.

[code]

There is no need for publishing it to `pub.dev` as a separate package. I am asking you to mark the project as `discontinued` and asking pub.dev support for removal. I appreciate it in advance.

[2021-05-09 07:33] alikhaleghi76 commented on #60
Done.

[2021-05-09 07:42] xclud commented on #60
Thank you @alikhaleghi76. I appreciate if you also put a description readme.md and put a link to the original package. Preferably the removing the source code if great too. You'll need to publish a new version for this. Thank you!

[2021-05-09 07:59] alikhaleghi76 commented on #60
I'm sorry. This project is DISCONTINUED.
If you don't want other people to copy or modify the code, then you need a different sort of license.
Good luck.

[2021-05-09 08:56] escamoteur commented on #61
I tried to make sense of the example project but didn't fully understand it. See my questions above. If you could give a short explanation it would be great

[2021-05-09 09:39] xclud commented on #61
- `helper` is used to display something on screen, but not on the final cropped image. You can use this for grids, golden ratios, focus indicators and so on.
- This is a very general question. Please be specific.
- The gestures are handled automatically. The widget is interactive. To disable the gestures set `interactive: false` in Crop constructor.
- The end user can use the gestures to zoom in [

[2021-05-09 11:18] escamoteur commented on #61
Ah, I now know why I did not understand it. I only tried it yesterday on Desktop where zooming with the mouse wheel isn't supported yet, so I also could not really pan.

In now ttried the Web demo on my phone and it made sense.
Will try to add a listener for the mouse wheel and try again.

[2021-05-09 12:08] xclud commented on #61
This is a great feekback. Mouse gestures must be added to the package.

[2021-05-09 15:48] escamoteur commented on #61
I managed it https://youtu.be/7WBgibXb_oQ

[2021-05-09 21:30] xclud commented on #61
I am happy you did it on `20:45` xD And thank you for demoing this package. I appreciate if you refactor parts of your codes and contribute. You are a good teacher BTW.

[2021-05-10 08:50] escamoteur commented on #61
Thanks, I'll try but I have so much to do with my own packages at the moment

[2021-05-10 20:05] #61 closed

[2021-05-10 20:07] xclud commented on #59
Hi @brnostone

This is a dup of #27. I am actively working on this bug.

I close this issue. Feel free to join the conversation in #27 or open a new issue any time.

[2021-05-10 20:07] #59 closed

[2021-05-10 20:08] #56 closed

[2021-05-12 11:19] momoDragon commented on #27
Hi, I am still facing this issue. Any fix?

[2021-05-12 12:32] xclud commented on #27
@momoDragon I am rewriting a part of calculations at the moment. Will publish a new version when done. This bug is over a year old now and we should get rid of it.

[2021-05-12 12:33] xclud commented on #27
@momoDragon I am rewriting a part of calculations at the moment. Will publish a new version when done. This bug is over a year old now and we should get rid of it.

[2021-05-15 12:31] xclud opened #62 "Provide documentations"
We should not publish version 1.0.0 without documentations.

[2021-05-21 20:02] amirucefi commented on #27
I'm waiting to solve this issue and enjoy more,
I have same issue that cropper select the center of image and I can't select another part of image to crop.
thanks

[2021-05-23 21:41] Sipioteo opened #63 "Move outside the aspect ratio [BUG]"
I found this strange bug. I set the aspect ratio and if the image don't has the same aspect ratio i can't move the selection pane outside the first aspect ratio. It's hard to explain, i attach a gif.

[https://media.giphy.com/media/QqcVylqMP1Ifw18DRt/source.mov](https://media.giphy.com/media/QqcVylqMP1Ifw18DRt/source.mov)

Hope you can fix this.

[2021-05-24 05:57] xclud commented on #63
Hi @Sipioteo. This is a dup of #27 and I am already working on this.

I close this issue. Please follow the other issue and feel free to open a new issue any time.

[2021-05-24 05:57] #63 closed

[2021-05-30 06:01] Mayb3Nots opened #64 "Disable rotation?"
Is there a way to disable rotation to only accept scale input? I wanna zoom in without touching the rotation of the image

[2021-05-30 06:29] xclud commented on #64
@Mayb3Nots Currently not possible. This is a great feature to have. Adding this issue to project v1.

[2021-05-30 06:31] xclud commented on #64
@Mayb3Nots Meanwhite, you can set `interactive` to `false` and wrap Crop widget in a GestureDetector and scale using `CropController.scale`.

[2021-05-30 06:38] Mayb3Nots opened #65 "Crop view doesnt let me crop at the edges with certain aspect ratio"
I cant seem to get the plugin to work.
Here is my code
[code]
This is wrapped in an aspect ratio of 1 under a column.

Here is the [video ](https://sjkcyuhuaedu-my.sharepoint.com/:v:/g/personal/samuelong_sjkcyuhua_edu_my/EdNYSEzUDltClalh6ESR-lQBfLsTeRLGQW2_bUhYBkdDeQ?e=7DUf3F)to show the issue

[2021-05-30 08:02] Mayb3Nots commented on #64
@xclud I have added a PR to add this feature. #66

[2021-05-30 08:29] Mayb3Nots commented on #65
Here is another example from the example app.
[Video](https://sjkcyuhuaedu-my.sharepoint.com/:v:/g/personal/samuelong_sjkcyuhua_edu_my/EdI4oew_er5Em7H0zelSO3sBW9cPmZdfedKg6BLYGtT2gw?e=jxiMCG)

It seems that it only happens for certain ratio like 1:1

[2021-05-30 13:09] xclud commented on #65
@Mayb3Nots This is a dup of #27. I close this issue. Please feel free to open a new issue.

[2021-05-30 13:09] #65 closed

[2021-05-31 14:19] michaldev commented on #27
My cat needs help.
https://vimeo.com/557199670

[2021-05-31 17:21] xclud commented on #27
@michaldev Sorry for the inconvenience. My own cat needs help too!. This issue is blocking version 1.0 release and i hate this.

[2021-06-06 17:29] ctapp1 opened #67 "[web/mobile] Unsupported operation: toImage is not supported on the Web"
Only on web mobile (chrome and safari) am I getting "Unsupported operation: toImage is not supported on the Web", when I try to crop.

This works fine on chrome for my pc, which is interesting.

Any chance on how soon this can be fixed? Love your package so far works great besides this.

[2021-06-07 15:02] xclud commented on #67
@ctapp1 you need to build with `flutter build web --dart-define=FLUTTER_WEB_USE_SKIA=true`. Otherwise flutter will switch back and forth between `DOM` and `Skia`.

Please let me know if this fixes the problem.

[2021-06-22 14:03] kaumudpa commented on #67
@xclud The solution you provided is not working.

[2021-06-22 14:18] xclud commented on #67
Do this link work?

https://xclud.github.io/flutter_crop/

[2021-06-22 14:30] kaumudpa commented on #67
Yes the link works and i am still unable to figure out how?

[2021-06-22 15:02] kaumudpa commented on #67
[code]

[2021-06-22 16:16] kaumudpa commented on #67
@xclud Were you able to reproduce this issue? Any Luck?

[2021-06-22 17:06] xclud commented on #67
Can you paste the output of `flutter doctor -v` ? I am suspecting if it's your flutter version.

[2021-06-22 17:08] kaumudpa commented on #67
@xclud

here you go.

[code]

[2021-06-22 17:10] kaumudpa commented on #67
@xclud You want me to check on other flutter version's too?

[2021-06-22 17:15] xclud commented on #67
I am confused. Your link does not work on my Android phone. I will try to figure this out and will let you know.

[2021-06-22 17:18] xclud commented on #67
BTW, how about `flutter build web --web-renderer canvaskit`? Can you update the link?

[2021-06-22 17:22] kaumudpa commented on #67
Ok it looks like its working with this.

[2021-06-22 17:25] xclud commented on #67
Thank for your feedback. I am closing this issue but please open a new one any time.

[2021-06-22 17:25] #67 closed

[2021-07-30 18:28] vanshg395 commented on #49
I want this to work in this config as well. Will that be possible?

`flutter build web --web-renderer html --release`

[2021-07-31 07:43] xclud commented on #49
@vanshg395 Shape-clipping is not implemented in html backend. It seems flutter team is not developing html backend anymore and eventually flutter will switch to Skia. Not possible.

[2021-08-03 12:09] margorski commented on #27
@xclud  Hello is there any progress on that bug?
Is there any branch you are working on? I could try to help you with that if you are busy.

Cheers

[2021-08-03 18:34] xclud commented on #27
Hi @margorski,

I appreciate your contribution. I am working on `hotfix-crop-bug` branch.

[2021-09-08 22:05] jasonJamEther commented on #27
I really appreciate the work that has been done on this package. I recognize you are doing all this work out of good will. I just wondered if any progress has been made on this issue?

[2021-09-21 19:26] kaumudpa commented on #67
@xclud This is now not working on safari on mac os and ios 15.

[2021-09-28 00:48] bkoznov commented on #24
@rich-j Would you mind sharing how you were able to get those black bars? Like xclud, I couldn't reproduce, but I would love those as part of the functionality. Thanks!

[2021-11-16 12:32] margorski commented on #27
Hello @xclud
I did a fix for that on the forked repository. Here is the pull request: https://github.com/xclud/flutter_crop/pull/71

I admit that I didn't do any heavy tests. Using the example app I checked all aspect ratios and it looks that it works.
One thing I changed is a clamping area for the rotated pictures. If I remember correctly in the previous implementation it was clamping panning of

[2021-11-16 12:49] margorski commented on #27
Still need some work with vertical images so not ready yet :)

[2021-11-16 13:19] margorski commented on #27
Ok, it looks like it is ready now. Review and see if that is a good solution to merge into your library.

[2021-11-17 17:52] xclud commented on #27
@margorski Thank you for the great job on this bug. You definitely make a a lot of people happy and you will make the package go to version 1.0. I appreciate your work on behalf on everyone using this package.

[2021-11-18 10:21] sonlam103 opened #72 "How to chagne offset of image?"
I tried moving the photo inside the square, it always returns to the original position (Offset(0, 0)). Is it possible to set the edge of the image to be equal to the edge of the square when the image moves out of the square?

[2021-11-18 14:10] xclud commented on #72
It always makes the canvas fill with image and does not allow any blank space left. Do you expect another behavior?

I didn't understand the behavior you are trying to achieve.

[2021-11-18 16:11] aduval commented on #72
Hi,

I have a similar issue with a rectangle shape. The crop widget displays figure A, I move it to get figure B, but it comes back to figure A. I expect it to allow B and crop it that way. Thanks for your help !

<img width="355" alt="crop" src="https://user-images.githubusercontent.com/3316055/142452291-ba4add82-6abc-4f76-9cf4-1b476ef40ccf.png">

[2021-11-18 17:02] xclud commented on #72
@aduval This is a dup of #27. @margorski is working on a fix in #71.

[2021-11-26 03:54] sonlam103 commented on #72
@xclud Thanks for reply!

[2021-11-30 09:33] #72 closed

[2021-12-28 23:38] nilsreichardt opened #73 "Preview is not loading on pub.dev"
The preview image is not loading on [pub.dev ](https://pub.dev/packages/crop):

![image](https://user-images.githubusercontent.com/24459435/147614862-5eea08e3-c756-4e0b-8229-08a6985bbe3c.png)

I tested with Chrome & Safari.

In the GitHub `README.md` it's working.

[2022-01-03 14:41] xclud commented on #73
Hi. Thank you for reporting. This is fixed now. I am closing this issue but please feel free to open a new issue any time.

[2022-01-03 14:41] #73 closed

[2022-01-10 07:23] Keatr0n commented on #64
I had this problem too, I just did this
`
onChanged: (data) {
   if (data.rotation != 0) {
      croppedController.rotation = 0;
   }
},
`

[2022-01-10 09:06] xclud commented on #64
I am closing this PR as @Keatr0n's solutions seems OK. Thank you.

[2022-01-10 09:06] #64 closed

[2022-01-15 16:29] paricleu commented on #64
I think this feature warrants its own flag and not some workaround in a callback that's not meant for disabling features.
Is there a reason the PR couldn't be merged into the plugin? If there are things that need fixing I would be willing to have a go at it.

[2022-01-15 17:03] Mayb3Nots commented on #64
I agree with everything you mentioned

[2022-01-18 17:05] jbryanh opened #74 "Compression option"
Feature request to include an imageQuality.  I was looking to use this along with image_picker on Flutter Web.  The output from crop explodes the file size, and I've struggled to efficiently solve getting the file back to an efficient size.

[2022-01-19 08:25] xclud commented on #74
Meantime you can use https://pub.dev/packages/image to re-compress the output file.

[2022-01-19 16:03] jbryanh commented on #74
thanks.  Wound up using [crop_your_image](https://pub.dev/packages/crop_your_image) simple Uint8List in and out wins the day on Flutter Web.  Thank you though for a great package @xclud.  I appreciate the ingenuity and hard work.

[2022-01-20 13:25] #74 closed

[2022-01-24 05:52] megz15 opened #75 "[feature request] include background"
Hello, first of all, wonderful package!
Would it be possible to add inclusion of background colour in the cropped image, like https://github.com/icapps/flutter-custom-image-crop does?
I looked at the code but couldn't figure out how. I'll fork later and play around with the code to accomplish it
Thank you :)

[2022-01-24 14:28] xclud commented on #75
Hi,
There are `background` and `overlay` fields in the constructor. `overlay` will be visible in the output as a foreground.

[2022-01-26 12:44] megz15 commented on #75
Hey, thanks for your response. I was able to accomplish the result I needed in the end, thank you :)

[2022-01-26 12:44] #75 closed

[2022-03-08 13:54] FerBueroTrebino commented on #27
Hello @xclud thanks for the awesome work!

Do you know when it will be available version 1.0 with this bug fixed?

[2022-04-11 12:58] SittiphanSittisak commented on #11
Hi, I have an issue with using toImage.
`Unsupported operation: toImage is not supported on the Web`
How to fix this?
Am I need to use https://pub.dev/packages/crop package?
Is there only one solution?

[2022-04-12 02:49] SittiphanSittisak commented on #11
My error happens when I am using
[code]
RenderRepaintBoundary? boundary;
Image? image = await newFunctionInsteadToImage(boundary);

Future<Image?> newFunctionInsteadToImage(){
...
}
[code]

[2022-05-18 08:32] kaumudpa opened #78 "Cropping in Web is not working since Flutter 3.0"
This returns a white image since flutter 3.0 .

[2022-05-18 08:44] kaumudpa commented on #78
must be related to https://github.com/flutter/flutter/issues/103803

[2022-05-20 09:57] Teutonic-Knight-0 opened #79 "Returns blacked out image"
Package just returns a blacked out image.

Source code:

[code]

Pubspec:

[code]

Flutter doctor:

Running flutter doctor...
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel master, 3.1.0-0.0.pre.821, on macOS 12.3.1 21E258 darwin-arm, locale en-ZA)
[✓] Android toolchain - develop for Android devices (Android SDK version 32.1.0-rc1)
[✓] Xcode - develop for iOS and

[2022-05-20 14:30] xclud commented on #79
Are you using Flutter 3.0? There is an issue with it. Check:

#78
https://github.com/flutter/flutter/issues/103803

[2022-11-04 14:41] xclud commented on #79
This is fixed in the latest Flutter version on master channel. I am closing this issue but please open a new issue anytime.

[2022-11-04 14:41] #79 closed

[2022-11-04 14:42] xclud commented on #78
This is fixed in the latest Flutter version on master channel. I am closing this issue but please open a new issue anytime.

[2022-11-04 14:42] #78 closed